<footer class="high-footer">

    <ul class="footer-nav">
		<li>
			<a href="https://www.facebook.com/ryan.cao.yu"><img alt="Facebook" border="0" class="footer-logo" src=<%= asset_path('facebook.png') %>/></a>
		</li>
		<li>
			<a href="https://www.linkedin.com/pub/ryan-yu/45/1/220"><img alt="LinkedIn" border="0" class="footer-logo" src=<%= asset_path('linkedin.png') %> /></a>
		</li>
		<li>
			<a href="https://github.com/Ryan-Yu"><img alt="Github" border="0" class="footer-logo" src=<%= asset_path('github.png') %> /></a>
		</li>
		<br class="responsive-break">
		<li>
			<a href="https://www.dropbox.com/s/6zm75zlxnygyszf/%5BResume%5D%20Ryan%20Yu.pdf"><img alt="Resume" border="0" class="footer-logo" src=<%= asset_path('resume.png') %> /></a>
		</li>
		<li>
			<a href="mailto:ryan.cao.you@gmail.com"><img alt="Email" border="0" class="footer-logo" src=<%= asset_path('email.png') %> /></a>
		</li>

		<li>
			<a href=<%= music_path %>><img alt="Headphones" border="0" class="footer-logo" src=<%= asset_path('headphones.png') %> /></a>
		</li>
	</ul>

	<div class="copyright-footer">
		Ryan Yu &copy; 2014
	</div>

</footer>

