<% provide(:title, 'Phish') %>

<%= render 'shared/header' %>

<div class="phish-content">

	<div class="phish-pictures top-phish-picture">
		<img src=<%= asset_path('phish1.jpg') %> class="phish-picture">
	</div>

	<b>Phish</b>, as a <span class="phish-highlight">band</span> and as a <span class="phish-highlight">culture</span>, is indisputably the most <span class="phish-highlight">stimulating</span>, <span class="phish-highlight">invigorating</span>, <span class="phish-highlight">exciting</span>, and <span class="phish-highlight">interesting</span> phenomenon in the contemporary musical world. Four adjectives isn’t enough to properly convey what I’m trying to convey; if you’re reading this, you should probably go to <span class="phish-highlight">www.thesaurus.com</span> and look up a few more adjectives.<br /><br />

	I know you don’t believe me; I accept that. However, at least give me the opportunity to (maybe) change your mind, to (maybe) let you see what I see. <br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish2.jpeg') %> class="phish-picture">
	</div>

	<h2>The music: a 1000-foot-high introduction</h2>

	Phish is composed of four artists: Trey Anastasio (guitar), Mike Gordon (bass), Page McConnell (keyboards), and Jon Fishman (drums). Phish is also a <span class="phish-highlight">jam-band</span>. By default, artists in the jam-band genre place an overwhelming emphasis on their <span class="phish-highlight">live performances</span>, rather than their studio albums. This is because jam-bands jam in the live setting; that is, they <span class="phish-highlight">improvise</span>.<br /><br />

	Okay, you’re probably not seeing what the big deal is. I understand that. So let me try to explain a bit more.<br /><br />

	If you asked me to sum up a Phish show in two words, I would probably pause and think for a while. Then I would probably give you an answer: <br /><br />

	<i>spontaneous</i><br />
	<i>unpredictable</i><br /><br />

	If you’re not familiar with jam-bands, then I can say with some confidence that you (maybe) aren’t too familiar with these terms in the scope of live music. So let me give you an illustration:<br /><br />

	Let’s take your favorite band. Imagine that band in your head right now. What do you think they play in a live setting? If you absolutely don’t know the answer, you should go check out <span class="phish-highlight">www.setlist.fm</span>. Look at the band’s setlists from their last tour, and look at how varied they are. Probably not very; a wide majority of artists play essentially the same setlist each night on a tour, with maybe a few songs rotated in and out, or maybe a nightly change in the ordering of songs played. Furthermore, the songs are played more or less the same as they are on the artist’s corresponding studio album, save for a few small variations in some songs, perhaps. I’m not necessarily saying that this is bad; in fact, not at all. I’ve been to hundreds of these types of shows, and enjoyed myself at every single one.<br /><br />

	It’s just that Phish shows are so much more interesting.<br /><br />

	In a typical 25-35 show tour, Phish will play somewhere between <span class="phish-highlight">150 and 200 unique songs</span>. In a typical 25-35 show tour, Phish will repeat a song maybe every three shows, and that’s being extremely conservative; a large number of songs are played just once or twice on tour.<br /><br />

	You probably still don’t get it. Bear with me.<br /><br />

	Every Phish show, minus a few momentous exceptions throughout the year (which I’ll get to later), has the same characteristics. There is never an opening band; Phish always will play two sets and an encore, each set lasting approximately an hour to an hour and a half long.<br /><br />

	In a typical 3-hour Phish show, Phish will improvise around their songs, many (but not nearly all) of which are on their 12 studio albums. Different types of improvisations (which I’ll refer to from now on as “jams”), have their own unique and complex categorizations, but I’ll get to that later.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish3.png') %> class="phish-picture phish-picture-small">
	</div>

	Jams, quite simply, are what drive Phish fans to shows. While a song on studio may be the typical four or five minutes long, a version of the same song in a live setting may be <span class="phish-highlight">10 minutes, 15 minutes, 20 minutes, or 30 minutes long</span>. This is not atypical at all. 

	To get a small glimpse of what I'm talking about, check out the studio version of "Tweezer" below, clocking in at 8 minutes and 41 seconds:<br /><br />

	<div class="video-wrapper">
		<iframe width="420" height="315" src="//www.youtube.com/embed/rtXbi5X88wU" frameborder="0" allowfullscreen></iframe>
	</div>

	<br />

	Now, check out this version of Tweezer from Phish's 2013 Fall Tour, which clocked in at just under 18 minutes:<br /><br />
	
	<div class="video-wrapper">
		<iframe width="560" height="315" src="//www.youtube.com/embed/rg77L7e9EQY" frameborder="0" allowfullscreen></iframe>
	</div>

	<br />

	(Tweezer, in fact, is what's known as a "jam vehicle", a song particularly known to fuel long and cohesive jams -- more on this later.)<br /><br />

	To capture these moments of improvisation, Phish professionally records each show in its entirety, and makes them available for download approximately one hour after each show ends; this download is free for those in attendance. <br /><br />

	All of the above descriptions constitute what I’ve referred to as spontaneity and unpredictability. Everything about a Phish show is <span class="phish-highlight">unpredictable</span>. <span class="phish-highlight">The band does not write setlists for shows.</span> The band does, however, have a master list of more than two hundred songs that they know and are able to play at any given time. Every song placement within the scope of a show is a call made on the spot, a <span class="phish-highlight">complete audible</span>. This is what drives fans to shows. Every performance is completely unique, featuring different songs, as well as different extended improvisations contained within each of these different songs.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish4.jpg') %> class="phish-picture phish-picture-small">
	</div>

	<h2>The culture: a 1000-foot-high introduction</h2>

	The culture of Phish fans is something that’s a little hard to describe, but I’ll try to depict it the best I can:<br /><br />

	I mentioned improvisations and spontaneity above, and as a whole, the culture of fans is primarily based upon these two things. As of right now, I have maybe 700 Phish shows on my hard drive in their entirety. <span class="phish-highlight">This is not atypical</span>, despite how ridiculous it may sound. Improvisations are what drive fans to see shows and to listen to recordings of shows. In this sense, you could say that Phish fans don’t collect shows, not really. Rather, <span class="phish-highlight"><i>they collect experiences</i></span>, and become obsessed with doing so. As of right now, I’ve seen 27 Phish shows; the person who introduced me to the band has seen approximately 120 shows. Again, <span class="phish-highlight">this is not atypical</span>, despite how ridiculous it may sound.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish5.jpg') %> class="phish-picture phish-picture-small">
	</div>

	Maybe I’m doing a bad job trying to illustrate this. <i>How the hell do you collect an experience?</i><br /><br />

	Well, first off, you realize that you’re <span class="phish-highlight">part of the experience</span>.<br />
	<span class="phish-highlight">At every Phish show</span> I’ve been to, I see a collection of hugely familiar faces in the crowd.<br />
	<span class="phish-highlight">At every Phish show</span>, the same person is holding a green inflatable cactus into the air about twenty rows back on the floor (the bassist, Mike, has the nickname “cactus”, but that’s another story.)<br />
	<span class="phish-highlight">At every Phish show</span>, the same group of people are standing on the first row rail. At every Phish show, one of those people is a man known as “Antelope Greg”, famous for having been to over 700 shows in his lifetime. <br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish6.jpg') %> class="phish-picture phish-picture-small">
	</div>
	
	At a series of July 2013 shows at the <span class="phish-highlight">Gorge Amphitheater</span> in Washington, I camped next to two couples; later that year in October, I travelled to Virginia to see the band, and coincidently ran into the same two couples on the floor. This was pretty cool, I must say, but I was not the least bit surprised that they too had traveled to the east coast. This is what constitutes a Phish show: everyone is there for the same reason; many of these people have logged long miles to get to the show, and many of these people will pack their bags and follow the band to the next series of shows that they play.

	<h2>The music: a 100-foot-high introduction</h2>

</div>


<%= render 'shared/footer' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53588384-1', 'auto');
  ga('send', 'pageview');

</script>