<% provide(:title, 'Phish') %>

<%= render 'shared/header' %>

<div class="phish-content">

	<div class="phish-pictures top-phish-picture">
		<img src=<%= asset_path('phish1.jpg') %> class="phish-picture">
	</div>

	<b>Phish</b>, as a <span class="phish-highlight">band</span> and as a <span class="phish-highlight">culture</span>, is indisputably the most <span class="phish-highlight">stimulating</span>, <span class="phish-highlight">invigorating</span>, <span class="phish-highlight">exciting</span>, and <span class="phish-highlight">interesting</span> phenomenon in the contemporary musical world. Four adjectives isn’t enough to properly convey what I’m trying to convey; if you’re reading this, you should probably go to <span class="phish-highlight">www.thesaurus.com</span> and look up a few more adjectives.<br /><br />

	I know you don’t believe me; I accept that. However, at least give me the opportunity to change your mind, to let you see what I see. <br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish2.jpeg') %> class="phish-picture">
	</div>

	<h2>An introduction</h2>

	I have more than <span class="phish-highlight">700 Phish shows</span> on my external hard drive. At about three hours a show, that means I have 2100 hours of Phish in my collection, which equates to about 87 days. That’s not atypical, as far as Phish collections go. <br /><br />

	Phish is my favorite band. But unfortunately, Phish is surprisingly inaccessible to casual music listeners. <i>Think about what you do when a friend recommends some new music to you</i>. Most people go on YouTube, maybe choose the first song in the search results, and form their opinions on the artist within the first 30 seconds of the song.<br /><br />

	Will doing this hook you on Phish?<br /><br />

	Maybe, maybe not. <br /><br />

	Phish is a <span class="phish-highlight">jam band</span>. A great amount of a jam band’s appeal is the <span class="phish-highlight">improvisational, extended jams</span> in and around their songs. These jams can vary significantly from performance to performance, and add a sense of <span class="phish-highlight">variety, energy, personality, and freshness</span> to what would otherwise just be another song on record.<br /><br />

	This sense of variation can do wonders. Just how different are different versions of a song? Let’s take a look at the numbers; the below chart shows the lengths of every version of the song <i>Tweezer</i> played in the last two years:<br /><br />

	(insert chart here)<br /><br />

	What exactly does this variation mean? Well, it means that if this music resonates with you, then it will <span class="phish-highlight">really</span> resonate with you.<br /><br />

	<i>It’s like having a plate of food in front of you at dinner; one item on the plate is your favorite food in the world, and the rest just pales in comparison to it, at least in your mind. Maybe you save this item on your plate for last, or maybe you eat it first for immediate gratification. You want more, but there isn’t any.<br /><br />

	Now, imagine if this item of food was available to you at almost <span class="phish-highlight">infinite quantities</span> at the dinner table. Better yet, imagine if each successive bite of this item tasted a little bit better and lasted a little bit longer than the bite before it.</i><br /><br />

	<b>That is the anatomy of Phish jams</b>. Most versions of the same song are <span class="phish-highlight">sufficiently distinctive</span> such that you’ll want to listen to all of them. Phish also records each of their shows professionally and releases each of them to the public for download. <br /><br />

	Well, what exactly does that mean?<br /><br />

	That means that in contrast to your favorite artist who releases an album once every year or two, Phish is <span class="phish-highlight">constantly and consistently creating new music</span>. After every show, there is something new that I want to download and listen to. After every show, my favorite band has effectively released new music. <br /><br />

	That is why Phish is so exciting.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish7.jpg') %> class="phish-picture phish-picture-small">
	</div>

	<h2>The music, from 1000 feet high</h2>

	Phish is composed of four artists: Trey Anastasio (guitar), Mike Gordon (bass), Page McConnell (keyboards), and Jon Fishman (drums). Phish is also a <span class="phish-highlight">jam-band</span>. By default, artists in the jam-band genre place an overwhelming emphasis on their <span class="phish-highlight">live performances</span>, rather than their studio albums. This is because jam-bands jam in the live setting; that is, they <span class="phish-highlight">improvise</span>.<br /><br />

	Okay, you’re probably not seeing what the big deal is. I understand that. So let me try to explain a bit more.<br /><br />

	If you asked me to sum up a Phish show in two words, I would probably pause and think for a while. Then I would probably give you an answer: <br /><br />

	<i>spontaneous</i><br />
	<i>unpredictable</i><br /><br />

	If you’re not familiar with jam-bands, then I can say with some confidence that you (maybe) aren’t too familiar with these terms in the scope of live music. So let me give you an illustration:<br /><br />

	Let’s take your favorite band. Imagine that band in your head right now. What do you think they play in a live setting? I encourage you to check out <span class="phish-highlight">www.setlist.fm</span>. More likely than not, the band’s setlist each night on a tour is essentially the same, with maybe a few songs rotated in and out, or maybe a nightly change in the ordering of songs. Furthermore, the songs are played more or less the same as they are on the artist’s corresponding studio album, save for a few small variations in some songs, perhaps. I’m not necessarily saying that this is bad; in fact, not at all. I’ve been to hundreds of these types of shows, and enjoyed myself at every single one.

	It’s just that Phish shows are so much more interesting.<br /><br />

	In a typical 25-35 show tour, Phish will play somewhere between <span class="phish-highlight">150 and 200 unique songs</span>. In a typical 25-35 show tour, Phish will repeat a song maybe every three shows, and that’s being extremely conservative; a large number of songs are played just once or twice on tour.<br /><br />

	At a Phish show, there is never an opening band; Phish always will play two sets and an encore, each set lasting approximately an hour to an hour and a half long.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish3.png') %> class="phish-picture phish-picture-small">
	</div>

	Jams are what drive Phish fans to shows. While a song on studio may be the typical four or five minutes long, a version of the same song in a live setting may be <span class="phish-highlight">10 minutes, 15 minutes, 20 minutes, or 30 minutes long</span>. This is not atypical at all. 

	To get a small glimpse of what I'm talking about, check out the studio version of "Tweezer" below, clocking in at 8 minutes and 41 seconds:<br /><br />

	<div class="video-wrapper">
		<iframe width="420" height="315" src="//www.youtube.com/embed/rtXbi5X88wU" frameborder="0" allowfullscreen></iframe>
	</div>

	<br />

	Now, check out this version of Tweezer from Phish's 2013 Fall Tour, which clocked in at just under 18 minutes:<br /><br />
	
	<div class="video-wrapper">
		<iframe width="560" height="315" src="//www.youtube.com/embed/rg77L7e9EQY" frameborder="0" allowfullscreen></iframe>
	</div>

	<br />

	(Tweezer, in fact, is what's known as a "jam vehicle", a song particularly known to fuel long and cohesive jams -- more on this later.)<br /><br />

	<span class="phish-highlight">The band does not write setlists for shows.</span> The band does, however, have a master list of more than two hundred songs that they know and are able to play at any given time. <br /><br />

	Every song placement within the scope of a show is a call made on the spot, a <span class="phish-highlight">complete audible</span>. Every performance is completely unique, featuring different songs, as well as different extended improvisations contained within each of these different songs.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish4.jpg') %> class="phish-picture phish-picture-small">
	</div>

	Fittingly, to accompany this non-traditional form of live music, an almost-surreal Phish-culture has developed throughout the years. <br /><br />

	<h2>The culture, from 1000 feet high</h2>

	The culture of Phish fans is something that’s a little hard to describe, but I’ll try to depict it the best I can:<br /><br />

	I mentioned improvisations and spontaneity above, and as a whole, the culture of fans is primarily based upon these two things. As of right now, I have maybe 700 Phish shows on my hard drive in their entirety. <span class="phish-highlight">This is not atypical</span>, despite how ridiculous it may sound. Improvisations are what drive fans to see shows and to listen to recordings of shows. In this sense, you could say that Phish fans don’t collect shows, not really. Rather, <span class="phish-highlight"><i>they collect experiences</i></span>, and become obsessed with doing so. As of right now, I’ve seen 27 Phish shows; the person who introduced me to the band has seen approximately 120 shows. Again, <span class="phish-highlight">this is not atypical</span>, despite how ridiculous it may sound.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish5.jpg') %> class="phish-picture phish-picture-small">
	</div>

	Maybe I’m doing a bad job trying to illustrate this. <i>How the hell do you collect an experience?</i><br /><br />

	Well, first off, you realize that you’re <span class="phish-highlight">part of the experience</span>.<br />
	<span class="phish-highlight">At every Phish show</span> I’ve been to, I see a collection of hugely familiar faces in the crowd.<br />
	<span class="phish-highlight">At every Phish show</span>, the same person is holding a green inflatable cactus into the air about twenty rows back on the floor (the bassist, Mike, has the nickname “cactus”, but that’s another story.)<br />
	<span class="phish-highlight">At every Phish show</span>, the same group of people are standing on the first row rail. At every Phish show, one of those people is a man known as “Antelope Greg”, famous for having been to over 700 shows in his lifetime. <br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish6.jpg') %> class="phish-picture phish-picture-small">
	</div>

	Phish plays arenas and amphitheaters, yet they've never had a hit song, and a large number of people have never heard of them, much less have listened to their music. Each year from 2011 to 2014, Phish has played four nights to celebrate New Years at the most famous venue in the world, Madison Square Garden. <b>All 16 shows have sold out immediately</b>.<br /><br />

	<div class="phish-pictures">
		<img src=<%= asset_path('phish8.jpg') %> class="phish-picture phish-picture-small">
	</div>

	How does this happen? In short, because of fans' <span class="phish-highlight">dedication to the band</span>. As mentioned before, it is not uncommon to see a dozen shows a tour, or to travel around the country to see runs of shows.<br /><br />
	
	At a series of July 2013 shows at the <span class="phish-highlight">Gorge Amphitheater</span> in Washington, I camped next to two couples; later that year in October, I travelled to Virginia to see the band, and coincidently ran into the same two couples on the floor. This was pretty cool, I must say, but I was not the least bit surprised that they too had traveled to the east coast. This is what constitutes a Phish show: everyone is there for the same reason; many of these people have logged long miles to get to the show, and many of these people will pack their bags and follow the band to the next series of shows that they play.

	<h2>The music, from 100 feet high</h2>

</div>


<%= render 'shared/footer' %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53588384-1', 'auto');
  ga('send', 'pageview');

</script>